
.product-order {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: first baseline;
    padding: 0 15rem ;
}

.links {
    display: flex;
    background-color: #CE2829 ;
}

.link-color {
    color:#FDC913
}
span {
    padding: 0 0.5rem;
    color: #FAF7F2;
}


.select-pizza-size {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.form-part-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.select-pizza-weight {
    display: block;
}

.options-one {
    display:flex;
    justify-content: space-between; 
    padding-bottom: 2rem ;
}
.checkboxes {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:space-between;
    padding-bottom: 2rem ;
}

label {
flex-basis: 150px;
flex-grow: 1;
}
.radios {
display: flex;
}

.order-page {
height: 100vh;
width: 100vh;
display: flex;
flex-direction: column;
margin-left: 20vh;
margin-right: 20vh;
}

.spancolor {
    color:#CE2829;
}

#order-button {
background-color: #FDC913;
padding: 5px 100px;
border:1px solid #FDC913 ;
border-radius: 2px;
}

.prd-prg {
color:    #5F5F5F;
}
.form-th-part {
    display: flex;
    justify-content: space-between;
}